<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
  
    <!--Hoja de estilos aplicacion -->
    <link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" type="text/css" media="all" />
    
</head>
<body style="font-family:Calibri;font-size:medium">
    <form id="form1" runat="server">
    <div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><a href="#">CONTROL INVERNADERO</a></h1>
		</div>
		<div id="menu">
			<ul>
                <li class="current_page_item">
		    <a href="/" accesskey="1" title="">INICIO</a></li>
                <li><a href="/links" accesskey="2" title="">LINKS</a></li>
		<li><a href="/acercade" accesskey="3" title="">ACERCA DE</a></li>
			</ul>
		</div>
	</div>
</div>
<div>&nbsp;</div>

        <div id="wrapper">
        <div id="page" class="container">
	<div id="content">
		<h1>Bienvenido al Sitio de Monitoreo del Invernadero</h1>
		<h2>The date and time on server is: {{time}}</h2>
	</div></div></div>
    </form>
    <div id="copyright" class="container">
	<p>Maestria en Ingenieria de Sistemas Electrónicos y 
Computacionales |  MISEC  | 2013</p>
</div>

</body>
</html>
<!DOCTYPE html>
<head><title>{{title}}</title></head>
<body>

</body>
</html>
